/* Import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");
/* Global Styles */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* remove styles from ul and a anchor tag */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
input,
button,
textarea {
  outline: 0;
  border: 0;
  resize: none;
}
/* start global component */

/* end global component */
